
body {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

h1 {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 10px;
}